main > .container {
    padding: 60px 15px 0;
}

.footer {
    background-color: #f5f5f5;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}
th.email, th.done, th.username{
    background: url("/web/img/double-arrow.png") no-repeat right;
    text-decoration: underline;
}
.email.desc >.email, .done.desc>.done, .username.desc>.username{
    background: url("/web/img/down-arrow.png") no-repeat right;
    background-color: #4e555b;
}
.email>.email, .done>.done, .username>.username{
    background: url("/web/img/up-arrow.png") no-repeat right;
    background-color: #6c757d;

}
th.done{
   width: 10%;
}
th.username,th.email{
    width: 25%;
}
.status{
    font-size: 24px;
}
#list.table tbody td{
    vertical-align: middle;
}
